[submodule "third-party/coralmicro"]
	path = third-party/coralmicro
	url = https://github.com/google-coral/coralmicro.git
[submodule "third-party/libopencm3"]
	path = third-party/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "third-paty/coralmicro"]
	path = third-party/coralmicro
	url = https://github.com/google-coral/coralmicro.git
