# coraldev env
coraldev/

src/examples/CDH/libopencm3
src/examples/CDH/arm-gnu-toolchain-14.2.rel1-x86_64-arm-none-eabi
src/examples/COM/libopencm3
make/arm-gnu-toolchain-14.2.rel1-x86_64-arm-none-eabi

build/
src/main/TPU/out
src/third-party

#zephyr builds
build_cdh
build_com
build_gnd
build_cdh_examples
build_com_examples

# Python Scripting

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# flash files
*.hex
*.elf
*.ld
*.bin
src/main/GND/utils/__pycache__/path_utils.cpython-312.pyc
src/main/GND/utils/__pycache__/tab.cpython-312.pyc
third-party/coralmicro
third-party/coralmicro
